<div class="container-fluid job-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
    <h1> <%= @job.title %> </h1>
    <hr>
    <div class="job-content">
      <p>
        <span>职缺描述</sapn>:<%= simple_format(@job.description, class: "job-description") %>
      </p>
      <div class="divider"></div>
      <p>
        <span>发布时间</span>: <%= @job.created_at %>
      </p>
      <p>
        <span>电子邮箱:</span> <%= @job.contact_email %>
      </p>
      <div class="text-center">
        <% if current_user && current_user.has_applied?(@job) %>
      <%= link_to("已投递", new_job_resume_path(@job), class: "btn btn-info btn-sm disabled", method: :get) %>
      <% else %>
      <%= link_to("投递履历", new_job_resume_path(@job), class: "btn btn-info btn-sm",  method: :get) %>
      <% end %>
      </div>
      </div>
    </div>
  </div>
