<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
<h3> 投交履历到 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
<%= f.input :content %>
<%= f.input :attachment %>
<%= f.submit "送出" %>
<% end %>
</div>
